#near_me {
  position: relative;
  z-index: 40;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  padding: 10px;
}
.distanceSlider {
  margin-top: 20px;
}
.resultsSlider {
  margin-top: 20px;
}
