.infowindow {
    width: 180px;
    color: #333;
 }
 .infowindow > p {
    margin-right: 10px;
    font-size: 14px;
    font-weight: 500;
 }

 .stop-info-modal {
   margin-left: 440px;
   margin-top:300px;
 }

 .favourite-btn {
   font-size: 14px;
 }